<section class="row index-section-1 bg-warning">
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-6 m-b-lg">
      <h1 class="text-muted">TestMyUI</h1>
      <h3 class="text-info">Evaluate your design and find pitfalls to improve usability of your product.</h3>
      <button class="btn btn-lg btn-primary">Get started</button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/BrVnBdW6_rE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> {{outlet}}
      </div>
    </div>
  </div>
</section>

<section class="row p-t-lg p-b-lg m-t-md m-b-lg text-center">
  <h2 class="m-b-md">Customer or Tester?</h2>
  <h5 class="text-success m-b-lg">You are a customer and a tester! Every user can post tasks ank evaluate design of other users.</h5>

  <div class="container">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Customer</div>
        <ul class="list-group">
          <li class="list-group-item">Describe task</li>
          <li class="list-group-item">Select audience</li>
          <li class="list-group-item">Analyse results</li>
          <li class="list-group-item">Improve your product</li>
          <li class="list-group-item text-primary">Increase revenue!</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading">Tester</div>
        <ul class="list-group">
          <li class="list-group-item">Select task</li>
          <li class="list-group-item">Read instructions carefully</li>
          <li class="list-group-item">Perform testing</li>
          <li class="list-group-item">Write your impression</li>
          <li class="list-group-item text-success">Get credits!</li>
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-lg btn-link">Register here...</button>
</section>
