@for $i from 1 through 4 {
  $size: 1rem * $i;
  $style: $size !important;

  .m-t-#{$i} {
    margin-top: $style;
  }

  .m-r-#{$i} {
    margin-right: $style;
  }

  .m-b-#{$i} {
    margin-bottom: $style;
  }

  .m-l-#{$i} {
    margin-left: $style;
  }

  .m-v-#{$i} {
    @extend .m-t-#{$i}, .m-b-#{$i};
  }

  .m-h-#{$i} {
    @extend .m-l-#{$i}, .m-r-#{$i};
  }

  .m-a-#{$i} {
    margin: $style;
  }

  .p-t-#{$i} {
    padding-top: $style;
  }

  .p-r-#{$i} {
    padding-right: $style;
  }

  .p-b-#{$i} {
    padding-bottom: $style;
  }

  .p-l-#{$i} {
    padding-left: $style;
  }

  .p-v-#{$i} {
    @extend .p-t-#{$i}, .p-b-#{$i};
  }

  .p-h-#{$i} {
    @extend .p-l-#{$i}, .p-r-#{$i};
  }

  .p-a-#{$i} {
    padding: $style;
  }
}
