
{{#if authorization}}
  Congrats! You've been authorized!
  <pre class="authorization-data">
    {{authorizationData}}
  </pre>
{{else}}
  <a href="#" {{action 'signIn'}} class="btn btn-primary">
    Sign in via Google
  </a>
{{/if}}
