{{#if authorization}}
  Congrats! You've been authorized!
  <pre class="authorization-data">
    {{authorizationData}}
  </pre>
{{else}}
  <div class="text-center">
    <h1>Sign in</h1>
    <a href="#" {{action 'signIn'}} class="btn btn-lg btn-primary">{{fa-icon "google"}} Google</a>
  </div>
{{/if}}
