<ol class="breadcrumb">
  <li>{{#link-to "tasks.index"}}Tasks{{/link-to}}</li>
  <li class="active">{{model.title}}</li>
</ol>

<div class="">
    <h4 class="">{{model.title}}</h4>
    <p class="">{{model.text}}</p>
</div>
