<ol class="breadcrumb">
  <li>
    {{#link-to "tasks.index"}}Tasks{{/link-to}}
  </li>
  <li class="active">New</li>
</ol>

<h4 class="m-v-4">New UX test</h4>

<section class="p-b-3">
  {{task-form model=model store=store onSubmit=(action "submit")}}
</section>
